<div style="width:1024px; height: 800px; margin: auto; text-align: center;">

  <mat-grid-list cols="4" rowHeight="790px" gutterSize="10px" >
    <mat-grid-tile [colspan]="'1'">
      <app-swimmer-table style="height:100%;"></app-swimmer-table>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="'3'">
      <app-import-form></app-import-form>
    </mat-grid-tile>
  </mat-grid-list>
</div>
