<mat-card style="height:700px;">

  <mat-card-content>
    <mat-selection-list #selectionList style="height: 500px; overflow: auto; text-align: left;">
      <mat-list-option #listOption *ngFor="let sr of swimmerRecordList" (click)="onItemClick(sr, listOption)">
        {{sr.swimmerName}}
      </mat-list-option>
    </mat-selection-list>
  </mat-card-content>
  <mat-card-actions>
    <mat-form-field style="width:80%">
      <input matInput placeholder="Filter by name" [(ngModel)]="nameFilter" (keyup)="nameFilterInputKeyup($event)">
    </mat-form-field>
    <mat-form-field style="width:80%">
      <mat-select placeholder="Filter by gender" [(ngModel)]="genderFilter" (change)="genderFilterSelectChange($event)">
        <mat-option value="0">
          Any
        </mat-option>
        <mat-option value="1">
          Male
        </mat-option>
        <mat-option value="2">
          Female
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-actions>
</mat-card>
