<div style="width: 760px; height:768px;">
  <mat-grid-list cols="4" rowHeight="300px" gutterSize="5px">
    <mat-grid-tile [colspan]='4'>
      <mat-card>
        <mat-form-field style="width:100%">
          <input matInput placeholder="Swimmer Name" [(ngModel)]="importService.selectedSwimmer.swimmerName">
        </mat-form-field>
        <mat-form-field style="width:100%">
          <input matInput placeholder="Swimmer Country" [(ngModel)]="importService.selectedSwimmer.swimmerCountry">
        </mat-form-field>
        <mat-form-field style="width:100%">
          <input matInput placeholder="Swimmer Photo URL" [(ngModel)]="importService.selectedSwimmer.swimmerPhotoURL">
        </mat-form-field>
        <mat-form-field style="width:100%">
          <mat-select placeholder="Swimmer Gender" [(ngModel)]="importService.selectedSwimmer.swimmerGender" >
            <mat-option value="1">
              Male
            </mat-option>
            <mat-option value="2">
              Female
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field style="width:50%">
          <mat-select placeholder="Compatition" (change)="onCompChange($event)">
            <mat-option *ngFor="let comp of importService.availableCompatitionRecords" [value]="comp.compatitionId">
              {{comp.compatitionName}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field style="width:16%">
          <input matInput placeholder="Gold:" [(ngModel)]="importService.selectedCompatition.gold">
        </mat-form-field>
        <mat-form-field style="width:16%">
          <input matInput placeholder="Silver:" [(ngModel)]="importService.selectedCompatition.silver">
        </mat-form-field>
        <mat-form-field style="width:16%">
          <input matInput placeholder="Bronze:" [(ngModel)]="importService.selectedCompatition.bronze">
        </mat-form-field>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile *ngFor="let style of importService.swimStyles">
      <mat-card style=" border: 1px solid gray;">
        <mat-card-title style="font-size:18px;">{{style.name}}</mat-card-title>
        <mat-card-content>
          <mat-form-field style="width:100%">
            <input matInput placeholder="1:" [(ngModel)]="style.v1">
          </mat-form-field>
          <mat-form-field style="width:100%">
            <input matInput placeholder="2:" [(ngModel)]="style.v2">
          </mat-form-field>
          <mat-form-field style="width:100%">
            <input matInput placeholder="3:" [(ngModel)]="style.v3">
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="4">
      <button mat-button (click)="onClickNew()">Save As New</button>
      <button mat-button (click)="onClickUpdate()">Update</button>
      <button mat-button (click)="onClickDelete()">Delete</button>
      <button mat-button (click)="onClickClear()">Clear Form Fields</button>
    </mat-grid-tile>

  </mat-grid-list>

</div>
